<% content_for :js do %>
<script>
$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
    
        var chart;
        $('#container-graph').highcharts({
            chart: {
                type: 'spline',
                zoomType: 'x',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
    
                        // set up the updating of the chart each second
                        var series_arr = this;
                        setInterval(function() {

                            var x = 0 
                            var y = 0

                                $.ajax({
                                    type: "GET",
                                    url: "/home/latest",
                                    dataType: "json",
                                    success: function(data){
                                        
                                        for (var i = 1; i <= 5; i++) { 
                                            sensor = eval("data.sensor"+i);
                                           //alert(sensor.x)
                                            x = sensor.x
                                            y = sensor.y


                                        series_arr.series[i-1].addPoint([x, y], true, true);
                                  

                                        }
                                       // alert("data:" + x + ", " + y) // Will alert Max
                                    }        
                                });
                            
                        }, <%=Setting.where("key=?","check_frequency").first.value.to_i*1000%>);
                    }
                }
            },
            title: {
                text: 'Meadowcroft Heating'
            },
            credits: {
                enabled: false
            },
    
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Temperature'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: true
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: '<%=@sensors.select{|s| s.id==1}.first.name%>',
                marker: {
                    enabled: false
                },
                data: (function() {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;
    				var data=[

<%= raw @temperatures.map{|s| {y: s.value*@sensors.select{|s| s.id==1}.first.calibration/100, x: s.created_at.to_i*1000 }.to_json}.join(",") %>
]	
                    return data;
                })(),
                turboThreshold: 200000
            },

{
                name: '<%=@sensors.select{|s| s.id==2}.first.name%>',
                marker: {
                    enabled: false
                },
                data: (function() {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;
                    var data=[

<%= raw @temperatures2.map{|s| {y: s.value*@sensors.select{|s| s.id==2}.first.calibration/100, x: s.created_at.to_i*1000 }.to_json}.join(",") %>
]   
                    return data;
                })(),
                turboThreshold: 200000
            }
,

{
                name: '<%=@sensors.select{|s| s.id==3}.first.name%>',
                marker: {
                    enabled: false
                },
                data: (function() {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;
                    var data=[

<%= raw @temperatures3.map{|s| {y: s.value*@sensors.select{|s| s.id==3}.first.calibration/100, x: s.created_at.to_i*1000 }.to_json}.join(",") %>
]   
                    return data;
                })(),
                turboThreshold: 200000
            }
,

{
                name: '<%=@sensors.select{|s| s.id==4}.first.name%>',
                marker: {
                    enabled: false
                },
                data: (function() {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;
                    var data=[

<%= raw @temperatures4.map{|s| {y: s.value*@sensors.select{|s| s.id==4}.first.calibration/100, x: s.created_at.to_i*1000 }.to_json}.join(",") %>
]   
                    return data;
                })(),
                turboThreshold: 200000
            }
,

{
                name: '<%=@sensors.select{|s| s.id==5}.first.name%>',
                marker: {
                    enabled: false
                },
                data: (function() {
                    // generate an array of random data
                    var data = [], time = (new Date()).getTime(), i;
                    var data=[

<%= raw @temperatures5.map{|s| {y: s.value*@sensors.select{|s| s.id==5}.first.calibration/100, x: s.created_at.to_i*1000 }.to_json}.join(",") %>
]   
                    return data;
                })(),
                turboThreshold: 200000
            }


            ]
        });
    });
    
});
    </script>



<%= render "gauge" %>

<% end %>



<div class="row">
    <div class="small-12 large-12 columns">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <div id="container-graph">
        </div>
    </div>
</div>



<div class="row gauges" >
    <div class="small-12 large-12 columns">
        

<div >
    <div id="container-sensor-1" class="gauge"></div>
    <div id="container-sensor-2" class="gauge"></div>
    <div id="container-sensor-3" class="gauge"></div>
    <div id="container-sensor-4" class="gauge"></div>
    <div id="container-sensor-5" class="gauge"></div>
</div>


    </div>    
</div>






